* {
    border: 0;
    border-radius: 0;
    min-height: 0;
    margin: 1px;
    padding: 0;
    color: #008000;
}


window#waybar {
    background-color: rgba(0,0,0,0);
    font-family: JetBrains Mono Nerd Font;
    font-size: 14px;
    color: #008000;
}

#battery,
#clock,
#backlight,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#custom-weather,
#network,
#pulseaudio,
#temperature,
#tray,
#idle_inhibitor,
#window,
#custom-power,
#workspaces,



#clock {
    color: #008000;
    font-size:14px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 20px;
    padding-left: 8px;
    padding-right: 8px;
}

#cpu {
    color: #FFD700;
    font-size:14px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 20px;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: #008000;
    font-size:14px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 20px;
}

#mode {
    color:#ff4499;
    font-size:14px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 20px;
}

#pulseaudio {
    color: #FFD700;
    font-size:14px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 20px;
}

#window {
    font-weight: bold;
    color: #008000;
}

#workspaces {
    font-size:16px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 20px;
    color: #008000;
}

button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none; 
  transition: none;
}

#workspaces button.active {
    border-bottom: 1px solid  #FFD700;
    margin-bottom: 1px;
    padding-left:0;
}
